In [41]:
s='johnjojo'
print(s.replace('jo','00',2))

00hn00jo

In [7]:
s=0
for c in range(1,20,2):
    print(c)
    s=s+c
print("sum=",s)

1
3
5
7
9
11
13
15
17
19
sum= 100

## dictionary

In [8]:
d={}
print(d,type(d))

{} <class 'dict'>

In [9]:
d={10:'abc','ab':123,(2,4):[3,5,6,7]}
print(d,type(d))

{10: 'abc', 'ab': 123, (2, 4): [3, 5, 6, 7]} <class 'dict'>

In [13]:
d={}
d[1]=100
d[30]='abc'
d['def']=[2,4,5]
d[1]=d[1]+20
d[(10,5)]=(4,5,6,7)
d[20]={}
print(d)
d[20][45]=45
print(d)
print(d[(10,5)][2])

{1: 120, 30: 'abc', 'def': [2, 4, 5], (10, 5): (4, 5, 6, 7), 20: {}}
{1: 120, 30: 'abc', 'def': [2, 4, 5], (10, 5): (4, 5, 6, 7), 20: {45: 45}}
6

In [14]:
s=input("enter a string: ")
d={}
for c in s:
    if c in d:
        d[c]=d[c]+1
    else:
        d[c]=1
print(d)

enter a string: malayalam
{'m': 2, 'a': 4, 'l': 2, 'y': 1}

In [15]:
d={10:45,5:'abc',70:2000}
del d[5]
print(d)

{10: 45, 70: 2000}

In [18]:
d={10:45,5:'abc',70:2000}
r=d.pop(5,0)
print(d,r)
p=d.pop(6,'No value')
print(d,p)
p=d.pop(6,0)
print(d,p)

{10: 45, 70: 2000} abc
{10: 45, 70: 2000} No value
{10: 45, 70: 2000} 0

In [20]:
d={10:45,5:'abc',70:2000}
r=d.popitem()
print(d,r)

{10: 45, 5: 'abc'} (70, 2000)

In [23]:
d={10:45,5:'abc',70:2000}
print(d.keys())
print(d.values())
print(d.items())
print(d)

dict_keys([10, 5, 70])
dict_values([45, 'abc', 2000])
dict_items([(10, 45), (5, 'abc'), (70, 2000)])
{10: 45, 5: 'abc', 70: 2000}

In [24]:
d={10:45,5:'abc',70:2000}
print(tuple(d.keys()))
print(d.values())
print(d.items())
print(d)

(10, 5, 70)
dict_values([45, 'abc', 2000])
dict_items([(10, 45), (5, 'abc'), (70, 2000)])
{10: 45, 5: 'abc', 70: 2000}

In [25]:
d={10:45,5:'abc',70:2000}
l=[]
for k in d:
    l.append(d[k])
print(l)

[45, 'abc', 2000]

In [26]:
d={10:45,5:'abc',70:2000}
d1=d
d[10]=50
print(d,d1)

{10: 50, 5: 'abc', 70: 2000} {10: 50, 5: 'abc', 70: 2000}

In [29]:
d={10:45,5:'abc',70:2000,7:[1,2,3,4,5]}
d1=d.copy()
d1[10]=50
print(d1,'\t',d)
d1[7].append(300)
print(d1,'\t',d)

{10: 50, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5]} 	 {10: 45, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5]}
{10: 50, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5, 300]} 	 {10: 45, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5, 300]}

In [37]:
import copy
d={10:45,5:'abc',70:2000,7:[1,2,3,4,5]}
d1=copy.deepcopy(d)
d1[10]=50
print(d1,'\t',d)
d1[7].append(300)
print(d1,'\t',d)

{10: 50, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5]} 	 {10: 45, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5]}
{10: 50, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5, 300]} 	 {10: 45, 5: 'abc', 70: 2000, 7: [1, 2, 3, 4, 5]}

In [34]:
d={10:45,5:'abc',70:2000}
d1={11:45,51:'abc',70:'GEENU'}
d3=d.copy()
print(d3)
d3.update(d1)
print(d,d1,d3, sep="  &  ")

{10: 45, 5: 'abc', 70: 2000}
{10: 45, 5: 'abc', 70: 2000}  &  {11: 45, 51: 'abc', 70: 'GEENU'}  &  {10: 45, 5: 'abc', 70: 'GEENU', 11: 45, 51: 'abc'}

In [35]:
print(range(6))

range(0, 6)

In [36]:
print(*range(6))

0 1 2 3 4 5

In [38]:
d={10:45,5:'abc',70:2000}
print(d.get(10))
print(d.get(100))
print(d.get(100,-1))

45
None
-1

In [39]:
s=input("enter a string: ")
d={}
for c in s:
    d[c]=d.get(c,0)+1
print(d)

enter a string: malayalam
{'m': 2, 'a': 4, 'l': 2, 'y': 1}

In [47]:
d1={10:45,5:'abc',70:2000}
d2={11:50,51:'ABCD',70:3000}
d3=d1.copy()
print(d3)
for c in d2:
    if c in d3:
        d3[c]=[d3[c],d2[c]]
    else:
        d3[c]=d2[c]
print(d3)
d4={11:60,52:'ABCD',70:4000}
for c in d4:
    if c in d3:
        if isinstance(d3[c],list):
            d3[c].append(d4[c])
        else:
            d3[c]=[d3[c],d4[c]]
    else:
        d3[c]=d4[c]
print(d3)

{10: 45, 5: 'abc', 70: 2000}
{10: 45, 5: 'abc', 70: [2000, 3000], 11: 50, 51: 'ABCD'}
{10: 45, 5: 'abc', 70: [2000, 3000, 4000], 11: [50, 60], 51: 'ABCD', 52: 'ABCD'}