### list

In [1]:
a=[]
print(type(a),len(a))

<class 'list'> 0

In [2]:
a=[1,2,3]
print(a,type(a),len(a))

[1, 2, 3] <class 'list'> 3

In [4]:
s=['A','B','C']
print(s,type(s),len(s))

['A', 'B', 'C'] <class 'list'> 3

In [5]:
a=list()
print(a,type(a),len(a))

[] <class 'list'> 0

In [8]:
a=list('123')
print(a)

['1', '2', '3']

In [9]:
a=list('1,2,3')
print(a)

['1', ',', '2', ',', '3']

In [40]:
a=list([1,2,3])
b=list([123])
c=list(['abc'])
d=list('abc')
e=list(['a','b','c'])
print(a,b,c,d,e)

TypeError: 'int' object is not iterable

In [16]:
ls=[10,20,30,40]
ls[1]=200
print(ls)
ls[1:]=[2,3,4,5,6]
print(ls)
ls[1:3]=[7,8,9,10]
print(ls)
print(type(ls[1]),type(ls[1:]))

[10, 200, 30, 40]
[10, 2, 3, 4, 5, 6]
[10, 7, 8, 9, 10, 4, 5, 6]
<class 'int'> <class 'list'>

## extend and append

In [22]:
l=[10,20,30]
l.extend([10,20,20])
print(l)
l.extend([10])
print(l)

[10, 20, 30, 10, 20, 20]
[10, 20, 30, 10, 20, 20, 10]

In [26]:
l=[10,20,30]
l.append(10)
print(l)
l.append([10])
print(l)
l.append([10,20,20])
print(l)

[10, 20, 30, 10]
[10, 20, 30, 10, [10]]
[10, 20, 30, 10, [10], [10, 20, 20]]

In [30]:
import random
l=[]
l.extend([random.randint(1,100)])
l.extend([random.randint(1,100)])
l.extend([random.randint(1,100)])
l.extend([random.randint(1,100)])
print(l)

[96, 57, 65, 13]

In [32]:
a=list([10,20,30])
print(a)

[10, 20, 30]

In [39]:
a=list([10,'abc',True])
b=list('abc')
print(a,b)
a.extend('def')
a.extend([10])
print(a)

[10, 'abc', True] ['a', 'b', 'c']
[10, 'abc', True, 'd', 'e', 'f', 10]

In [45]:
c=[10,20,'abc',True,[1,2,3,4]]
print(c)
print(type(c[4][2]))

[10, 20, 'abc', True, [1, 2, 3, 4]]
<class 'int'>

In [47]:
a=[10,20,30]
r=a.pop(2)
print(a,r)

[10, 20] 30

In [49]:
a=[10,20,30,40,30]
r=a.remove(30)
r=a.remove(30)
print(a,r)

[10, 20, 40] None

In [51]:
a=[1,2,3,4,5]
del a[3]
print(a)

[1, 2, 3, 5]

In [54]:
a1=[1,2,3,4,5]
a2=a1
a2[2]=100
print(a1,a2)
print(id(a1),id(a2))

[1, 2, 100, 4, 5] [1, 2, 100, 4, 5]
1801439148616 1801439148616

In [55]:
a1=[1,2,3,4,5]
a2=a1.copy()
a2[2]=100
print(a1,a2)
print(id(a1),id(a2))

[1, 2, 3, 4, 5] [1, 2, 100, 4, 5]
1801439576776 1801438676872

In [56]:
a=[2,5,7,1,3]
r=a.insert(3,100)
print(a,r)

[2, 5, 7, 100, 1, 3] None

In [59]:
a=[1,5,2,3,8,6]
r=a.reverse()
print(a,r)
print(a.reverse())

[6, 8, 3, 2, 5, 1] None
None

In [64]:
a=[2,4,6,3,1]
b=a[::-1]
print(a,b)

[2, 4, 6, 3, 1] [1, 3, 6, 4, 2]

In [61]:
a=[1,5,2,3,8,6]
r=a.sort()
r=a.sort(reverse=True)
print(a,r)
print(a.sort())

[8, 6, 5, 3, 2, 1] None
None

In [63]:
a1=[2,3,6,70,88]
a2=[6,55,48,9]
a3=a1+a2
print(a1,a2,a3)
print(id(a1),id(a2),id(a3))

[2, 3, 6, 70, 88] [6, 55, 48, 9] [2, 3, 6, 70, 88, 6, 55, 48, 9]
1801438114696 1801437749768 1801439577160

## tuple- immutable hetrogeneous sequence

In [65]:
x=10,20
print(x,type(x))

(10, 20) <class 'tuple'>

In [68]:
x=(10)
print(x,type(x))

10 <class 'int'>

In [67]:
x=(1,)
print(x,type(x))

(1,) <class 'tuple'>

In [69]:
t=tuple('abc')
print(t,type(t))

('a', 'b', 'c') <class 'tuple'>

In [71]:
t=tuple((1,2))
print(t,type(t))

(1, 2) <class 'tuple'>

In [72]:
t=tuple([1,2])
print(t,type(t))

(1, 2) <class 'tuple'>

In [74]:
ls=list((1,3,4))
print(ls,type(ls))

[1, 3, 4] <class 'list'>

In [75]:
t=(2,4,5,7,9,1)
a=t[1:5]
print(a,t)

(4, 5, 7, 9) (2, 4, 5, 7, 9, 1)

## string formatting

In [76]:
x=10
y=10.5
s="%d-%f" % (x,y)
print(s)

10-10.500000

## while lopp

In [83]:
n= int(input("enter a number: "))
x=1
while x<=n:
    print(x)
    x=x+1
print("end!!")

enter a number: 9
1
2
3
4
5
6
7
8
9
end!!

In [82]:
n =int(input("enter a number: "))
x=1
ls=[]
import random
while x<=n:
    ls.append(random.randint(1,100))
    x=x+1
print(ls)

enter a number: 7
[47, 79, 7, 2, 89, 47, 73]

In [86]:
s=input("enter a string: ")
x=0
while x<len(s):
    print(s[x],"-",ord(s[x]))
    x=x+1

enter a string: Geenu
G - 71
e - 101
e - 101
n - 110
u - 117

In [88]:
n=int(input("enter a number: "))
s=0
x=1
while x<=n:
    s=s+x
    x=x+1
print("sum of numbers till",n,"=",s)

enter a number: 5
sum of numbers till 5 = 15

In [89]:
n=int(input("enter a number: "))
s=1
x=1
while x<=n:
    s=s*x
    x=x+1
print("product of numbers till",n,"=",s)

enter a number: 5
product of numbers till 5 = 120

In [90]:
n=input("enter a string: ")
s=0
x=0
while x<len(n):
    s=s+ord(n[x])
    x=x+1
print("sum of ordinal values=",s)

enter a string: Geenu
sum of ordinal values= 500

In [92]:
n=input("enter a string: ")
ls=[]
x=0
while x<len(n):
    ls.append([n[x],ord(n[x])])
    x=x+1
print(ls)

enter a string: Geenu
[['G', 71], ['e', 101], ['e', 101], ['n', 110], ['u', 117]]